BOOSTING

método secuencial
busca fortalecer gradualmente el modelo de aprendizaje usando siempre el error residual de las etapas anteriores
el resultado final también se consigue por consenso entre los modelos

In [1]:
import pandas as pd
import sklearn

In [3]:
# Importamos los módulos específicos
 
from sklearn.ensemble import GradientBoostingClassifier

In [4]:
 from sklearn.model_selection import train_test_split
 from sklearn.metrics import accuracy_score

In [5]:
import pathlib
pathlib.Path()

PosixPath('.')

In [6]:
CURRENT_DIR = pathlib.Path().resolve()  # Path local completo
CURRENT_DIR

PosixPath('/home/santi/personalProjects/ML_con_sklearn/ejemplos/examples/notebook')

In [7]:
df = pd.read_csv(CURRENT_DIR.parent.joinpath("data", "heart.csv"))
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [8]:
X = df.drop(["target"], axis = 1) # el mismo dataframe pero sin la columna target
y = df['target'] # variables Y

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size= 0.35, random_state=42)

In [11]:
# el GradientBoostingClassifier utiliza arboles de fondo entrenando uno tras otro para obtener la mejor predicción

boost = GradientBoostingClassifier(n_estimators = 50).fit(X_train, Y_train)
boost_pred = boost.predict(X_test)

print('')
print('Accuracy boost:', accuracy_score(boost_pred, Y_test))
print('')

Accuracy boost: 0.935933147632312